<?xml version='1.0' encoding='utf-8'?>
<robot name="figbot_rev_i_geometry_review_not_control"><link name="vehicle"><visual><geometry><mesh filename="vehicle.stl" scale="0.001 0.001 0.001" /></geometry></visual></link><link name="right_arm"><visual><geometry><mesh filename="right_arm.stl" scale="0.001 0.001 0.001" /></geometry></visual></link><joint name="right_arm_inspection" type="fixed"><parent link="vehicle" /><child link="right_arm" /></joint><link name="left_arm"><visual><geometry><mesh filename="left_arm.stl" scale="0.001 0.001 0.001" /></geometry></visual></link><joint name="left_arm_inspection" type="fixed"><parent link="vehicle" /><child link="left_arm" /></joint></robot>